body {
    background: url(https://github.com/borisk15/borisk15.github.io/blob/master/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
}